@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Caching Demos</h1>
    <p class="lead">Select a demonstration below to see different caching strategies in action.</p>
    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a class="btn btn-primary btn-lg" asp-action="ResponseCacheDemo">Response Caching Demo</a>
        <a class="btn btn-success btn-lg" asp-action="MemoryCacheDemo">IMemoryCache Demo</a>
    </div>
</div>